{% extends "app/base.html" %}

{% block title %}
<title>新規登録</title>
{% endblock %}

{% block content %}
{% include 'app/header.html' %}
<div class="mt-5"></div>
<form action="" method="POST">
    <div class="col-md-6 offset-md-3">
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
            <hr>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary w-100 mt-3">新規登録</button>
    </div>
    {% csrf_token %}
</form>
{% endblock %}