<header class="bg-light">
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light sticky-top">
            <a class="navbar-brand" href="{% url 'app:' %}" style="font-size: 30px; font-weight: bold; line-height: 60px;">WAHAHA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#wahahamenu" aria-controls="wahahamenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse text-center" id="wahahamenu">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="nav-link" href="{% url 'app:video_list' %}">動画一覧</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'app:mypage' %}">ユーザ名：{{ user }}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'users:logout' %}">ログアウト</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="nav-link" href="{% url 'app:video_list' %}">動画一覧</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'users:signup' %}">新規登録</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'users:login' %}">ログイン</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>