{% extends "app/base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'app/video_list.css' %}">
{% endblock %}

{% block title %}
<title>動画一覧</title>
{% endblock %}

{% block content %}
{% include 'app/header.html' %}
<div class="main-container">
	<section class="top-wrapper">
		<!-- <div class="bg-image-holder"></div> -->
		<div class="top-msg">
			<h1 style="line-height: 200px;">お笑い動画一覧</h1>
		</div>
	</section>
	<section class="video-wrapper">
		<div class="container">
			<div class="d-flex flex-row row-content">
				<div class="video-side-bar col-md-3 order-2">
					<div class="side-bar bg-primary mt-3">
						<div class="side-content">
							<p>動画カテゴリ</p>
						</div>
					</div>
				</div>
				<div class="video-items col-md-9 order-1 mt-3">
					<div class="row grid">
						{% if videos %}
						{% for v in videos %}
						<div class="video-item col-xs-12 col-md-6 col-lg-4 mb-3">
							<article>
								<div class="video-body">
									<video src="{% static v.url %}" controls></video>
								</div>
								<div class="video-text">
									<a href="{% url 'app:video_detail' v.id %}">{{ v.name }}</a>
								</div>
							</article>
						</div>
						{% endfor %}
						{% else %}
							<p>No videos are available.</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% include 'app/footer.html' %}
{% endblock %}