.top-wrapper {
    height: 600px;
    background-color: #000;
    position: relative;
}

.bg-image-holder {
    background-image: url("images/smile_illust.jpeg");
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
}

.top-msg {
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    top: 35%;
    z-index: 10;
}

.top-wrapper h1 {
    text-shadow: 1px 1px 5px pink;
}

.top-wrapper h2 {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px pink;
    margin-bottom: 30px;
}

.btn {
    color: white;
    background-color: #3c61e6;
    font-size: 24px;
    font-weight: 500;
    border-radius: 44px;
    padding: 10px 20px;
    transition: background-color,color .5s ease;
}

.btn:hover {
    background-color: white;
}

.range-box {
    margin: 100px 0;
    width: 100%;
    background-color: gray;
    height: 300px;
}